<%- include("../partials/head.ejs") %>
<body>
    <div class="container">
        <h1><%= budget.name %></h1>
        <a href="/budget"><button>Back</button></a>
        <h3>Date: <%= budget.date %></ul>
        <h3>From: <%= budget.from %></h1>
        <h3>Amount: $<%= budget.amount %>.00</h1>
        <h3>Tags: <%= budget.tags %></h1>
    </div>

    
</body>
</html>